<nav class="navbar navbar-light bg-body-tertiary bg-dark mb-5">
    <div class="container">
      <a class="navbar-brand">Dashboard</a>
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
          (input)="onSearch($event)"
        />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </form>
    </div>
  </nav>